@import url('Tokens.css');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-family-primary);
    display: flex;
    flex-direction: column;
    background: var(--Grey, #2D2D2D);
}

/* Navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0 40px;
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: gray;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: white;
    background-color: #111;
}


/* Projekte */

#Mywork {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-auto-rows: calc(33.333vh - 20px);
    gap: 20px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #first{
    background-color: white;
    transition: background-color 0.3s ease;
  }

  #first:hover{
    background-color: rgb(215, 215, 215);
  }

  /* Myself */
  
.Pictureme{
    width: 10.25rem;
    height: 10.25rem;
    border-radius: 10.25rem;
    border: 1px solid #FFF;
    background: url(/Bilder/Marc_SVG.png) center/ auto 100% no-repeat;
}

#Myself{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}
#Myself p{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
}