@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

:root {
    --primary-color: #fff;
    --font-family-primary: 'Lato', sans-serif;
}